.para0 {
  margin:  0px 0px 0px 0px;
}

.span0 {
}

.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  direction: ltr;
  writing-mode: horizontal-tb;
}

.frame0 {
  float: left;
  width: 4.5110in;
}
